body {
    background-color: #ffffff;
    color: #333;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

h1 {
    color: #000000;
    margin-left: 30px;
}

h2 {
    color: #000000;
}

.Titre {
    color: #000000;
    /* margin-left: 30px; */
    font-size: 4.5rem;
    margin-top: 10%;
    margin-left: 10%;
}

.raymond-container{
    display: flex;
    flex-direction: row;
    background-image: url("assets/image/kurzweil.jpg");
    background-size: cover;
    height: 70vh;
}

.textpage{
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.bouton-accueil {
    color: rgb(0, 0, 0);
    justify-content: space-between;
    margin-left: 30px;
}

section.top-page {
    background-image: ("kurzweil.jpg");
    background-size: cover;
    height: 5vh;
}

.background {
    width: 100vw;
    position: relative;
  }


/*positionnement images */

.image-gauche, .image-droite{
    display: flex;
    flex-direction: row;
    height: 30%;
width: 30%;
margin-left: 38px;
}

/* A changer à ajouter pour chaque nouvelle image. */

/*.shrek{
    height: 40vh;  // Permet de modifier la hauteur de l'image
}

.shrek img{
    width: 100%; // Permet de modifier la largeur de l'image
    height: 100%;
}*/


.image-gauche-ray {
height: 15%;
width: 15%;
margin-left: 5%;
}







/* Carroussel image livre */
.carrousel {
    height:400px;
    width:900px;
    position:relative;
    margin:50px auto;
 
}

.cadre {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0;
    transition: all 0.4 ease-in-out
}

.fleche{
    border:solid #000000;
    padding:12px;
    border-width: 0 5px 5px 0;
}

.precedent, .suivant{
    position:absolute;
    top: 200px;
}

.precedent{
    left: 10px;
    transform: rotate(135deg);
}

.suivant{
    right: 10px;
    transform: rotate(-45deg);
}

.image_1{
    z-index:2;
    opacity:1;
    background: url("assets/image/capture1.png");
    background-size: cover;
}

.image_2{
    background: url("assets/image/capture2.png");
    background-size: cover;
}

.image_3{
    background: url("assets/image/capture3.png");
    background-size: cover;
}

*:target ~ .image_1{
    opacity:0;
}

#image_1:target ~ .image_1{
    opacity: 1;
}

#image_2:target ~ .image_2, #image_3:target ~ .image_3{
    z-index: 2;
    opacity: 1;
}

