body {
    background-color: #ffffff;
    color: #333;
}
h1 {
    color: #d3e8ff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.bouton-accueil {
    color: rgb(255, 255, 255);
}